    /*
    Flaticon icon font: Flaticon
    Creation date: 20/11/2017 23:53
    */

    @font-face {
  font-family: "Flaticon";
  src: url("./Flaticon.eot");
  src: url("./Flaticon.eot?#iefix") format("embedded-opentype"),
       url("./Flaticon.woff") format("woff"),
       url("./Flaticon.ttf") format("truetype"),
       url("./Flaticon.svg#Flaticon") format("svg");
  font-weight: normal;
  font-style: normal;
}

@media screen and (-webkit-min-device-pixel-ratio:0) {
  @font-face {
    font-family: "Flaticon";
    src: url("./Flaticon.svg#Flaticon") format("svg");
  }
}

    .fi:before{
        display: inline-block;
  font-family: "Flaticon";
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  line-height: 1;
  text-decoration: inherit;
  text-rendering: optimizeLegibility;
  text-transform: none;
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
  font-smoothing: antialiased;
    }

    .flaticon-mailbox-2:before { content: "\f100"; }
.flaticon-left-arrow:before { content: "\f101"; }
.flaticon-right-arrow:before { content: "\f102"; }
.flaticon-one-finger-swipe-right-gesture-of-hand-stroke-symbol:before { content: "\f103"; }
.flaticon-one-finger-swipe-left-gesture-outlined-hand-symbol:before { content: "\f104"; }
.flaticon-multimedia-1:before { content: "\f105"; }
.flaticon-note-6:before { content: "\f106"; }
.flaticon-letter-3:before { content: "\f107"; }
.flaticon-note-5:before { content: "\f108"; }
.flaticon-note-4:before { content: "\f109"; }
.flaticon-interface-1:before { content: "\f10a"; }
.flaticon-networking:before { content: "\f10b"; }
.flaticon-letter-2:before { content: "\f10c"; }
.flaticon-back:before { content: "\f10d"; }
.flaticon-tool-8:before { content: "\f10e"; }
.flaticon-interface:before { content: "\f10f"; }
.flaticon-communication:before { content: "\f110"; }
.flaticon-tool-7:before { content: "\f111"; }
.flaticon-envelope-1:before { content: "\f112"; }
.flaticon-envelope:before { content: "\f113"; }
.flaticon-tool-6:before { content: "\f114"; }
.flaticon-opened-email-envelope:before { content: "\f115"; }
.flaticon-note-3:before { content: "\f116"; }
.flaticon-business:before { content: "\f117"; }
.flaticon-web:before { content: "\f118"; }
.flaticon-tool-5:before { content: "\f119"; }
.flaticon-mailbox-1:before { content: "\f11a"; }
.flaticon-note-2:before { content: "\f11b"; }
.flaticon-note-1:before { content: "\f11c"; }
.flaticon-mailbox:before { content: "\f11d"; }
.flaticon-tool-4:before { content: "\f11e"; }
.flaticon-tool-3:before { content: "\f11f"; }
.flaticon-tool-2:before { content: "\f120"; }
.flaticon-tool-1:before { content: "\f121"; }
.flaticon-tool:before { content: "\f122"; }
.flaticon-business-1:before { content: "\f123"; }
.flaticon-letter-1:before { content: "\f124"; }
.flaticon-multimedia:before { content: "\f125"; }
.flaticon-letter:before { content: "\f126"; }
.flaticon-note:before { content: "\f127"; }
.flaticon-work:before { content: "\f128"; }
.flaticon-mail:before { content: "\f129"; }
    
    $font-Flaticon-mailbox-2: "\f100";
    $font-Flaticon-left-arrow: "\f101";
    $font-Flaticon-right-arrow: "\f102";
    $font-Flaticon-one-finger-swipe-right-gesture-of-hand-stroke-symbol: "\f103";
    $font-Flaticon-one-finger-swipe-left-gesture-outlined-hand-symbol: "\f104";
    $font-Flaticon-multimedia-1: "\f105";
    $font-Flaticon-note-6: "\f106";
    $font-Flaticon-letter-3: "\f107";
    $font-Flaticon-note-5: "\f108";
    $font-Flaticon-note-4: "\f109";
    $font-Flaticon-interface-1: "\f10a";
    $font-Flaticon-networking: "\f10b";
    $font-Flaticon-letter-2: "\f10c";
    $font-Flaticon-back: "\f10d";
    $font-Flaticon-tool-8: "\f10e";
    $font-Flaticon-interface: "\f10f";
    $font-Flaticon-communication: "\f110";
    $font-Flaticon-tool-7: "\f111";
    $font-Flaticon-envelope-1: "\f112";
    $font-Flaticon-envelope: "\f113";
    $font-Flaticon-tool-6: "\f114";
    $font-Flaticon-opened-email-envelope: "\f115";
    $font-Flaticon-note-3: "\f116";
    $font-Flaticon-business: "\f117";
    $font-Flaticon-web: "\f118";
    $font-Flaticon-tool-5: "\f119";
    $font-Flaticon-mailbox-1: "\f11a";
    $font-Flaticon-note-2: "\f11b";
    $font-Flaticon-note-1: "\f11c";
    $font-Flaticon-mailbox: "\f11d";
    $font-Flaticon-tool-4: "\f11e";
    $font-Flaticon-tool-3: "\f11f";
    $font-Flaticon-tool-2: "\f120";
    $font-Flaticon-tool-1: "\f121";
    $font-Flaticon-tool: "\f122";
    $font-Flaticon-business-1: "\f123";
    $font-Flaticon-letter-1: "\f124";
    $font-Flaticon-multimedia: "\f125";
    $font-Flaticon-letter: "\f126";
    $font-Flaticon-note: "\f127";
    $font-Flaticon-work: "\f128";
    $font-Flaticon-mail: "\f129";