
body
{
    background-color: #eaeaea; color: #333;

}

body .screen{
    background-color: #1E2730; color: #ccc;

}


.circle

{
    
fill: #999;
}
.becu-main {
    /**/
/*
transform:scale(2,2);
-webkit-transform: scale(2,2);
-ms-transform: scale(2,2);*/
background: url(/media/img/logo_red_transparent_sm.png);
    background-size:contain;
}


.entry-form
{
background-color:#DAE1E1; color:#333;
}

.drag {

border-color: #56aee0/*8fc9eb*/;



}

.drop {

background-color: #ECE9E6; /*#ECE9E6 555558;*/

}



　


.methodRequirementSatisfied

{

background-color:#6A9572;

}

.methodRequirementUnsatisfied

{

background-color:#C87986;

}


.available {



    border-color: #070 !important;

}

.tool.available{
    
    color: #070 !important;
}


.selected {

background-color: #354555; /*737378#ECB;*/

}

.handle {

/*opacity: 0;*/

background-color: green;


}

.faded{
    color: 	rgba(86, 174, 224, 0.23);
    fill: 	rgba(86, 174, 224, 0.23);
}

.faded{
    border-color: rgba(90, 107, 124, 0.23);

}
.circle.faded + script + .line{    
    background-color: rgba(86, 174, 224, 0.23);
}

.draggableSelector {

border: 1px solid #8fc9eb;

background: #BCE;

background-color: #BEC;

border-color: #8B9;

}

.transfer-form{background-color:#ECE9E6;}

a:link, a:active {color:#000 ;}      /* unvisited link */
a:visited {color:#000 ;}  /* visited link */
a:hover {color:#333 ;}  /* mouse over link */

.transfer-form{background-color:#ECE9E6;}

	.button
{
    color: #ddd;

    border-color: #9c9c9c; /* Fallback style */
    border-color: rgba(0, 0, 0, 0.3);

    text-shadow: 0 1px 0 rgba(0,0,0,0.4);

    box-shadow: 0 0 .05em rgba(0,0,0,0.4);
    -moz-box-shadow: 0 0 .05em rgba(0,0,0,0.4);
    -webkit-box-shadow: 0 0 .05em rgba(0,0,0,0.4);

}

.button span
{
    /*border-top: 1px solid #fff;  Fallback style
    border-top: 1px solid rgba(255, 255, 255, 0.5);*/
    border-color: #354555;
    /* The background pattern */

    background-image: -webkit-gradient(linear, 0 0, 100% 100%, color-stop(.25, rgba(0, 0, 0, 0.05)), color-stop(.25, transparent), to(transparent)),
                      -webkit-gradient(linear, 0 100%, 100% 0, color-stop(.25, rgba(0, 0, 0, 0.05)), color-stop(.25, transparent), to(transparent)),
                      -webkit-gradient(linear, 0 0, 100% 100%, color-stop(.75, transparent), color-stop(.75, rgba(0, 0, 0, 0.05))),
                      -webkit-gradient(linear, 0 100%, 100% 0, color-stop(.75, transparent), color-stop(.75, rgba(0, 0, 0, 0.05)));
    background-image: -moz-linear-gradient(45deg, rgba(0, 0, 0, 0.05) 25%, transparent 25%, transparent),
                      -moz-linear-gradient(-45deg, rgba(0, 0, 0, 0.05) 25%, transparent 25%, transparent),
                      -moz-linear-gradient(45deg, transparent 75%, rgba(0, 0, 0, 0.05) 75%),
                      -moz-linear-gradient(-45deg, transparent 75%, rgba(0, 0, 0, 0.05) 75%);

}

.button:hover
{
    box-shadow: 0 0 .1em rgba(0,0,0,0.4);
    -moz-box-shadow: 0 0 .1em rgba(0,0,0,0.4);
    -webkit-box-shadow: 0 0 .1em rgba(0,0,0,0.4);
}


.button-blue
{
    background: #c04d53;
    /*493646
    background: -webkit-gradient(linear, left top, left bottom, from(#232234), to(#c04d53) );
    background: -moz-linear-gradient(-90deg, #232234, #c04d53);
    filter:  progid:DXImageTransform.Microsoft.gradient(GradientType=0,startColorstr='#232234', endColorstr='#c04d53');
    */
}

.button-blue:hover
{
    background: #d5888d;
    background: -webkit-gradient(linear, left top, left bottom, from(#c04d53), to(#d5888d) );
    background: -moz-linear-gradient(-90deg, #c04d53, #d5888d);
    filter:  progid:DXImageTransform.Microsoft.gradient(GradientType=0,startColorstr='#c04d53', endColorstr='#d5888d');
}

.button-blue:active
{
    background: #c04d53;
}

a:link.button-blue, a:active.button-blue {color:#fff ;}      /* unvisited link */
a:visited.button-blue {color:#fff ;}  /* visited link */
a:hover.button-blue {color:#ddd ;}


.calc{background-color: #d5888d;}

a.nolink{color:lightgreen;}

.money {color:darkgreen;}



.bottomShadow

{

-webkit-box-shadow: 0px 7px 5px 0px #000000;

-moz-box-shadow: 0px 7px 5px 0px #000000;

box-shadow: 0px 7px 5px 0px #000000;

}

.tool {

border-color: #56aee0;
border:none;

color: #999;
fill: #999;
/*#8fc9eb*/

background-color: transparent;
/*#8fc9eb;*/
}

.dot

{

color:black;

}

input {border-color: #0F1D24; color: #333;}
input.filter {color: #333;
background: #eee;
}

.de-emphasize * {
    border-color:rgba(225,225,225,0.3);
    color:rgba(225,225,225,0.3);
    background-color:rgba(225,225,225,0.3);
}



.form-container {
    border-color: #D27748;background-color: #eee;
}


.form-container .close-button {
    color:#999;
}

.kgTopPanel {
    background-color: #ccc;
}

.kgColMenu {
    background-color: #F9F6F2;
}

.kgFooterPanel {
    background-color: #ddd;
}

.kgRow.odd {
background-color: #F9F6F2;
}
.kgRow.even {
background-color: #ECE9E6;
}
.kgRow.selected {
background-color: #D5CDC0;
}

.kgAggregate {
background-color: #F9F6F2;
}

.kgAggArrowCollapsed {
    border-color: transparent transparent transparent #ccc;
}

.kgAggArrowExpanded {
    border-color: transparent transparent #ccc transparent;
}


.blockElement, .blockPage
{
	background-image: url('../media/img/ajax-loader.gif');
}



.blockUi-overlay{ background: #fff; }

.kgSortButtonUp, .kgSortButtonDown {
    border-color: #fff transparent;
}




svg.circleText path {
        stroke: #eaeaea;
      }

.mail svg.circleText text{
    
    stroke: #eaeaea;
}

.earth{
    border: none !important;
    /*top: 42% !important;
    left: 43% !important;*/
}
/*
form.customer-address-info input.question,
form.customer-address-info textarea.question{

    width: 70%;
}

form.customer-address-info input.question + label,
form.customer-address-info textarea.question + label {
  
    width: 70%;
}



form.customer-address-info input.question + label + i.bar {       
    
    width: 70%;  
}*/

form input.question + label,
form textarea.question + label {
  border-bottom-color: #555;
  border-top-color: #555;
}



form input.question + label + i.bar {    
    border-top-color: #555; 
}

form input.question:valid + label,
form textarea.question:valid + label {
  border-color: #8F8F8F;
}

form input.question:invalid,
form textarea.question:invalid {
  border-color: #8F8F8F;
}

form input.question + label > span,
form textarea.question + label > span {
  color: #8F8F8F;
}


.drag:not(.faded) .flex-grid.data, .drag .data {
    color: rgb(90, 107, 124); 

}

/*.drag.faded .drag .flex-grid.data {
    color: rgb(90, 107, 124); 

}*/

div.drag.faded > div.flex-grid.data, div.drag.faded > div.flex-container.data {
    color: rgba(90, 107, 124, 0.23);

}


.circle + script + .line{
    background-color: #56aee0;
}


.mail{
    background-color: transparent;
    border-width: 0;
}

.leaflet-touch .leaflet-control-zoom-out, .leaflet-touch .leaflet-control-zoom-in {
    background-color: #ccc;
}


.circle.see-through{
    text-shadow: -3px -3px 10px #eaeaea, 3px 3px 10px #eaeaea, 3px 3px 10px #eaeaea, -3px -3px 10px #eaeaea, -3px -3px 10px #eaeaea, 3px 3px 10px #eaeaea, 3px 3px 10px #eaeaea, -3px -3px 10px #eaeaea;
}