body
{
    background-color: #1E2730; color: #ccc; 
}

body .screen{
    background-color: #1E2730; color: #ccc;

}

.circle
{
    border-color: #5A6B7C; 
    color: #5A668E /*#56aee0*/;
}

.circle-shadow
{
    box-shadow: 0 0 0 20em rgba(0,0,0,.1);
    -moz-box-shadow: 0 0 0 20em rgba(0,0,0,.1);
    -webkit-box-shadow: 0 0 0 20em rgba(0,0,0,.1);
}


.entry-form
{
    background-color:#1E2730; color:#ddd;
}


.faded{
    color: 	rgba(86, 174, 224, 0.23);
    fill: 	rgba(86, 174, 224, 0.23);
    border-color: rgba(90, 107, 124, 0.23);
}


.circle.faded + script + .line{    
    background-color: rgba(86, 174, 224, 0.23);
}

.drag {

border-color: #5A668E /*#56aee0*//*8fc9eb*/;


}


button {
	background: #222;
	background: -webkit-linear-gradient(#333, #222);
	background: -moz-linear-gradient(#333, #222);
	background: -o-linear-gradient(#333, #222);
	background: -ms-linear-gradient(#333, #222);
	background: linear-gradient(#333, #222);
	border-color: #444;
	border-left-color: #000;
	box-shadow: 0 2px 0 #000;
	color: #888;
}



.drop {


  background-color: #1E2730; /*#1E2730 555558;

}

.draginner{

height: 30px;

width: 30px;

top: 0px;

padding: 0 0 0 0;

margin: 0 0 0 0;

}

.dropinner {

width: 50px;

height: 50px;

top: 0px;

padding: 0 0 0 0;

margin: 0 0 0 0;

}

　


.dropped {/*C87986;*/

/*background-color: #5B99C8;

border-color: #8A8;

-moz-transform: scale(1.2) rotate(0deg) translate(0px, 0px) skew(0deg, 0deg);

-webkit-transform: scale(1.2) rotate(0deg) translate(0px, 0px) skew(0deg, 0deg);

-o-transform: scale(1.2) rotate(0deg) translate(0px, 0px) skew(0deg, 0deg);

-ms-transform: scale(1.2) rotate(0deg) translate(0px, 0px) skew(0deg, 0deg);

transform: scale(1.2) rotate(0deg) translate(0px, 0px) skew(0deg, 0deg);

*/

}

/*.drop {

float: left;

table-layout: fixed;

}*/

.available {


    border-color: #070 !important;

}

.tool.available{
    
    color: #070 !important;
}

.dnd-active

{

/*background: #6A9572;

border-color: #9B8;

-moz-transform: scale(1.2) rotate(0deg) translate(0px, 0px) skew(0deg, 0deg);

-webkit-transform: scale(1.2) rotate(0deg) translate(0px, 0px) skew(0deg, 0deg);

-o-transform: scale(1.2) rotate(0deg) translate(0px, 0px) skew(0deg, 0deg);

-ms-transform: scale(1.2) rotate(0deg) translate(0px, 0px) skew(0deg, 0deg);

transform: scale(1.2) rotate(0deg) translate(0px, 0px) skew(0deg, 0deg);*/

}

.selected {

    background-color: #354555; /*737378#ECB;*/

}

.handle {


    background-color: green;


}

.draggableSelector {

    border-color: #89B;

    background: #BCE;

    background-color: #BEC;

    border-color: #8B9;

}

.inner{color: white;}


a:link, a:active {color:#fff ;}      /* unvisited link */
a:visited {color:#fff ;}  /* visited link */
a:hover {color:#ddd ;}  /* mouse over link */

.button
{
    color: #ddd;

    border: 1px solid #9c9c9c; /* Fallback style */
    border: 1px solid rgba(0, 0, 0, 0.3);

    text-shadow: 0 1px 0 rgba(0,0,0,0.4);

    box-shadow: 0 0 .05em rgba(0,0,0,0.4);
    -moz-box-shadow: 0 0 .05em rgba(0,0,0,0.4);
    -webkit-box-shadow: 0 0 .05em rgba(0,0,0,0.4);

}

.button span
{
    /*border-top: 1px solid #fff;  Fallback style
    border-top: 1px solid rgba(255, 255, 255, 0.5);*/
    border-color: #354555;
    
    /* The background pattern */

    background-image: -webkit-gradient(linear, 0 0, 100% 100%, color-stop(.25, rgba(0, 0, 0, 0.05)), color-stop(.25, transparent), to(transparent)),
                      -webkit-gradient(linear, 0 100%, 100% 0, color-stop(.25, rgba(0, 0, 0, 0.05)), color-stop(.25, transparent), to(transparent)),
                      -webkit-gradient(linear, 0 0, 100% 100%, color-stop(.75, transparent), color-stop(.75, rgba(0, 0, 0, 0.05))),
                      -webkit-gradient(linear, 0 100%, 100% 0, color-stop(.75, transparent), color-stop(.75, rgba(0, 0, 0, 0.05)));
    background-image: -moz-linear-gradient(45deg, rgba(0, 0, 0, 0.05) 25%, transparent 25%, transparent),
                      -moz-linear-gradient(-45deg, rgba(0, 0, 0, 0.05) 25%, transparent 25%, transparent),
                      -moz-linear-gradient(45deg, transparent 75%, rgba(0, 0, 0, 0.05) 75%),
                      -moz-linear-gradient(-45deg, transparent 75%, rgba(0, 0, 0, 0.05) 75%);

}

.button:hover
{
    box-shadow: 0 0 .1em rgba(0,0,0,0.4);
    -moz-box-shadow: 0 0 .1em rgba(0,0,0,0.4);
    -webkit-box-shadow: 0 0 .1em rgba(0,0,0,0.4);
}




.button-blue
{
    background: #422839;
    /*493646
    background: -webkit-gradient(linear, left top, left bottom, from(#232234), to(#352031) );
    background: -moz-linear-gradient(-90deg, #232234, #352031);
    filter:  progid:DXImageTransform.Microsoft.gradient(GradientType=0,startColorstr='#232234', endColorstr='#352031');
    */
}

.button-blue:hover
{
    background: #232234;
    background: -webkit-gradient(linear, left top, left bottom, from(#352031), to(#232234) );
    background: -moz-linear-gradient(-90deg, #352031, #232234);
    filter:  progid:DXImageTransform.Microsoft.gradient(GradientType=0,startColorstr='#352031', endColorstr='#232234');
}

.button-blue:active
{
    background: #352031;
}


.calc{background-color: #232234;}

a.nolink{color:lightgreen;}

.money {color:lightgreen;}



.tool {

border-color: #5A668E /*#56aee0*/;
border:none;
color: #666;
fill: #666;
/*#8fc9eb*/

background-color: transparent;
/*#8fc9eb;*/
}

.dot

{


color:White;

}



input {border-color: #0F1D24; color: #ccc;}
input.filter {
background: #0F1D24;
color: #ccc;
border-color: #ccc 
}






.ball {
  background: #fff url('/media/img/world-map.png') repeat-x;
  box-shadow: -13px 3px 23px 3px rgba(0,0,0,0.5) inset; /*-40px 10px 70px 10px rgba(0,0,0,0.5) inset;*/

}

/*.ball:before {
  content: "";
  position: absolute;
  top: 0%;
  left: 0%;
  width: 100%;
  height: 100%;
  border-radius: 50%;
}*/

.ball:after {
  /*background: -webkit-gradient(radial, 50% 80%, 0, 50% 80%, 100, color-stop(0%, #81e8f6), color-stop(10%, #76deef), color-stop(66%, #055194), color-stop(100%, #062745));
  background: -webkit-radial-gradient(50% 80%, circle cover, #81e8f6, #76deef 10%, #055194 66%, #062745 100%);
  background: -moz-radial-gradient(50% 80%, circle cover, #81e8f6, #76deef 10%, #055194 66%, #062745 100%);
  background: -o-radial-gradient(50% 80%, circle cover, #81e8f6, #76deef 10%, #055194 66%, #062745 100%);
  background: radial-gradient(50% 80%, circle cover, #81e8f6, #76deef 10%, #055194 66%, #062745 100%);*/
/*background: -webkit-gradient(radial, 50% 80%, 0, 50% 80%, 100, color-stop(0%, #AAD6F0), color-stop(10%, #9ACEEC), color-stop(66%, #458BB3), color-stop(100%, #1A3443));
  background: -webkit-radial-gradient(50% 80%, circle cover, #AAD6F0, #9ACEEC 10%, #458BB3 66%, #1A3443 100%);
  background: -moz-radial-gradient(50% 80%, circle cover, #AAD6F0, #9ACEEC 10%, #458BB3 66%, #1A3443 100%);
  background: -o-radial-gradient(50% 80%, circle cover, #AAD6F0, #9ACEEC 10%, #458BB3 66%, #1A3443 100%);
  background: radial-gradient(50% 80%, circle cover, #AAD6F0, #9ACEEC 10%, #458BB3 66%, #1A3443 100%);}*/
background: -webkit-gradient(radial, 50% 80%, 0, 50% 80%, 100, color-stop(0%, #AAD6F0), color-stop(10%, #9ACEEC), color-stop(66%, #458BB3), color-stop(100%, #1A3443));
  background: -webkit-radial-gradient(50% 80%, circle cover, #3399FF, #3399FF 10%, #3399FF 66%, #3399FF 100%);
  background: -moz-radial-gradient(50% 80%, circle cover, #AAD6F0, #9ACEEC 10%, #458BB3 66%, #1A3443 100%);
  background: -o-radial-gradient(50% 80%, circle cover, #AAD6F0, #9ACEEC 10%, #458BB3 66%, #1A3443 100%);
  background: radial-gradient(50% 80%, circle cover, #AAD6F0, #9ACEEC 10%, #458BB3 66%, #1A3443 100%);

}


.form-container {
    border-color: #D27748;background-color: #0F1D24;
}

/*.stage {
  width: 300px;
  height: 300px;
  display: inline-block;
  margin: 20px;
}*/


.transfer-dollar, .transfer-arrow{
    color: #1C3643;
}


input.transfer {
    background-color: #1C3643;
    border-color: #ccc;
}


.filterable-icon {
    color: #1C3643;
}


.form-container .close-button {
color:#ccc;
}

.customer-info .close-button {
color:#ccc;
}

.gridStyle {
    border-color: rgb(212,212,212);
}

.kgTopPanel {
    background-color: #31404F;
}

.kgColMenu {
    background-color: #1C3643;
}

.kgFooterPanel {
    background-color: #26313D;
}

.kgRow.odd {
background-color: #0F1D24;
}
.kgRow.even {
background-color: #1E2730;
}
.kgRow.selected {
background-color: #293642;
}


.kgAggregate {
background-color: #1E2730;
}

.kgAggArrowCollapsed {
    border-color: transparent transparent transparent #eee;
}

.kgAggArrowExpanded {
    border-color: transparent transparent #eee transparent;
}

.blockElement, .blockPage
{
	background-image: url('../media/img/loading_flower_wh.gif');
}



.blockUi-overlay{ background: #fff; }

.kgSortButtonUp, .kgSortButtonDown {
    border-color: #fff transparent;
}




svg.circleText path {
        stroke: white;
      }

.mail svg.circleText text{
    
    stroke: #1E2730;
}

.earth{
    border: none !important;
    /*top: 42% !important;
    left: 43% !important;*/
}
/*
form.customer-address-info input.question,
form.customer-address-info textarea.question{

    width: 70%;
}

form.customer-address-info input.question + label,
form.customer-address-info textarea.question + label {
  
    width: 70%;
}



form.customer-address-info input.question + label + i.bar {       
    
    width: 70%;  
}*/

form input.question + label,
form textarea.question + label {
  border-color: #555;
}



form input.question + label + i.bar {    
    border-color: #555; 
}

form input.question:valid + label,
form textarea.question:valid + label {
  border-color: #8F8F8F;
}

form input.question:invalid,
form textarea.question:invalid {
  border-color: #8F8F8F;
}

form input.question + label > span,
form textarea.question + label > span {
  color: #8F8F8F;
}


.drag .flex-grid.data, .drag .data {
    color: rgb(90, 107, 124); 

}



ul.auto-fill{
    background-color: #5A668E;
    border: 1px solid #999;
}

ul.auto-fill li.row{
    border-top: 1px solid #999;
}


.circle + script + .line{
    background-color: #5A668E /*#56aee0*/;
}


.address, .mail{
    background-color: transparent;
    border-width: 0;
}

.leaflet-touch .leaflet-control-zoom-out, .leaflet-touch .leaflet-control-zoom-in {
    background-color: #666;
}

/*.circle.see-through{
    text-shadow: -4px -4px 0 #1E2730, -4px -3px 0 #1E2730, -4px -2px 0 #1E2730, -4px -1px 0 #1E2730, -4px 0px 0 #1E2730, -4px 1px 0 #1E2730, -4px 2px 0 #1E2730, -4px 3px 0 #1E2730, -4px 4px 0 #1E2730, -3px -4px 0 #1E2730, -3px -3px 0 #1E2730, -3px -2px 0 #1E2730, -3px -1px 0 #1E2730, -3px 0px 0 #1E2730, -3px 1px 0 #1E2730, -3px 2px 0 #1E2730, -3px 3px 0 #1E2730, -3px 4px 0 #1E2730, -2px -4px 0 #1E2730, -2px -3px 0 #1E2730, -2px -2px 0 #1E2730, -2px -1px 0 #1E2730, -2px 0px 0 #1E2730, -2px 1px 0 #1E2730, -2px 2px 0 #1E2730, -2px 3px 0 #1E2730, -2px 4px 0 #1E2730, -1px -4px 0 #1E2730, -1px -3px 0 #1E2730, -1px -2px 0 #1E2730, -1px -1px 0 #1E2730, -1px 0px 0 #1E2730, -1px 1px 0 #1E2730, -1px 2px 0 #1E2730, -1px 3px 0 #1E2730, -1px 4px 0 #1E2730, 0px -4px 0 #1E2730, 0px -3px 0 #1E2730, 0px -2px 0 #1E2730, 0px -1px 0 #1E2730, 0px 0px 0 #1E2730, 0px 1px 0 #1E2730, 0px 2px 0 #1E2730, 0px 3px 0 #1E2730, 0px 4px 0 #1E2730, 1px -4px 0 #1E2730, 1px -3px 0 #1E2730, 1px -2px 0 #1E2730, 1px -1px 0 #1E2730, 1px 0px 0 #1E2730, 1px 1px 0 #1E2730, 1px 2px 0 #1E2730, 1px 3px 0 #1E2730, 1px 4px 0 #1E2730, 2px -4px 0 #1E2730, 2px -3px 0 #1E2730, 2px -2px 0 #1E2730, 2px -1px 0 #1E2730, 2px 0px 0 #1E2730, 2px 1px 0 #1E2730, 2px 2px 0 #1E2730, 2px 3px 0 #1E2730, 2px 4px 0 #1E2730, 3px -4px 0 #1E2730, 3px -3px 0 #1E2730, 3px -2px 0 #1E2730, 3px -1px 0 #1E2730, 3px 0px 0 #1E2730, 3px 1px 0 #1E2730, 3px 2px 0 #1E2730, 3px 3px 0 #1E2730, 3px 4px 0 #1E2730, 4px -4px 0 #1E2730, 4px -3px 0 #1E2730, 4px -2px 0 #1E2730, 4px -1px 0 #1E2730, 4px 0px 0 #1E2730, 4px 1px 0 #1E2730, 4px 2px 0 #1E2730, 4px 3px 0 #1E2730, 4px 4px 0 #1E2730; 
    
    
    
    
    

}*/

.drag .flex-grid.data .flex-container i.prim, .drag .data i.prim{
    color: #56aee0;
}



.flaticon-mailbox-1:before{    
    -webkit-text-stroke-color: rgb(90, 102, 142);
    -webkit-text-fill-color: #1E2730;
}

.flaticon-tool-3 {
    text-shadow: none;
}

.flaticon-tool-3:before{    
    -webkit-text-stroke-color: rgb(90, 102, 142);
    -webkit-text-fill-color: #1E2730;
}

.available .flaticon-tool-3:before{    
    -webkit-text-stroke-color: #070;
}


.address .customer-address{
    background-color: #1E2730;
}

.icon-background{
    background-color: #1E2730;
}

.letter-icon-background{
    background-color: #1E2730;
}

.letter-icon-foreground{
    background-color: #1E2730;
}

.address .mailbox{
    color: rgb(90, 102, 142);
    stroke: rgb(90, 102, 142);  
}

.address.available .mailbox{
    stroke: #070;  
    color: #070;    
}
