



.icon-fw {
  width: 1.28571429em;
  text-align: center;
}
.icon-ul {
  padding-left: 0;
  margin-left: 2.14285714em;
  list-style-type: none;
}
.icon-ul > li {
  position: relative;
}
.icon-li {
  position: absolute;
  left: -2.14285714em;
  width: 2.14285714em;
  top: 0.14285714em;
  text-align: center;
}
.icon-li.icon-lg {
  left: -1.85714286em;
}
.icon-border {
  padding: .2em .25em .15em;
  border: solid 0.08em #eeeeee;
  border-radius: .1em;
}
.pull-right {
  float: right;
}
.pull-left {
  float: left;
}
.icon.pull-left {
  margin-right: .3em;
}
.icon.pull-right {
  margin-left: .3em;
}
.icon-stack {
  /*position: relative;*/
  display: inline-block;
  width: 2em;
  height: 2em;
  line-height: 2em;
  vertical-align: middle;
}
.icon-stack-1x,
.icon-stack-2x {
  position: absolute;
  left: 0;
  width: 100%;
  text-align: center;
}
.icon-stack-1x {
  line-height: inherit;
}
.icon-stack-2x {
  font-size: 2em;
}
.icon-inverse {
  color: #ffffff;
}



.icon-size-2x {
  font-size: 2em;
}

.icon-size-3x {
  font-size: 3em;
}

.icon-size-4x {
  font-size: 4em;
}

.icon-size-5x {
  font-size: 5em;
}

.icon-size-6x {
  font-size: 6em;
}

.icon-size-7x {
  font-size: 7em;
}

.icon-size-8x {
  font-size: 8em;
}

.icon-size-9x {
  font-size: 9em;
}

.icon-size-10x {
  font-size: 10em;
}

.icon-size-11x {
  font-size: 11em;
}

.icon-size-12x {
  font-size: 12em;
}

.icon-size-13x {
  font-size: 13em;
}

.icon-size-14x {
  font-size: 14em;
}

.icon-size-15x {
  font-size: 15em;
}

.icon-size-16x {
  font-size: 16em;
}

.icon-size-17x {
  font-size: 17em;
}

.icon-size-18x {
  font-size: 18em;
}

.icon-size-19x {
  font-size: 19em;
}

.icon-size-20x {
  font-size: 20em;
}


.icon-rotate-90 {
  -webkit-transform: rotate(90deg);
  -moz-transform: rotate(90deg);
  -ms-transform: rotate(90deg);
  -o-transform: rotate(90deg);
  transform: rotate(90deg);
}

.icon-rotate-270 {
  -webkit-transform: rotate(270deg);
  -moz-transform: rotate(270deg);
  -ms-transform: rotate(270deg);
  -o-transform: rotate(270deg);
  transform: rotate(270deg);
}


.icon-rotate-40 {
  -webkit-transform: rotate(40deg);
  -moz-transform: rotate(40deg);
  -ms-transform: rotate(40deg);
  -o-transform: rotate(40deg);
  transform: rotate(40deg);
}

.icon-rotate-320 {
  -webkit-transform: rotate(320deg);
  -moz-transform: rotate(320deg);
  -ms-transform: rotate(320deg);
  -o-transform: rotate(320deg);
  transform: rotate(320deg);
}



.flaticon-size-2x:before {
  font-size: 2em;
}

.flaticon-size-3x:before {
  font-size: 3em;
}

.flaticon-size-4x:before  {
  font-size: 4em;
}

.flaticon-size-5x:before  {
  font-size: 5em;
}

.flaticon-size-6x:before  {
  font-size: 6em;
}

.flaticon-size-7x:before  {
  font-size: 7em;
}

.flaticon-size-8x:before  {
  font-size: 8em;
}

.flaticon-size-9x:before  {
  font-size: 9em;
}

.flaticon-size-10x:before  {
  font-size: 10em;
}

.flaticon-size-11x:before  {
  font-size: 11em;
}

.flaticon-size-12x:before  {
  font-size: 12em;
}

.flaticon-size-13x:before  {
  font-size: 13em;
}

.flaticon-size-14x:before  {
  font-size: 14em;
}

.flaticon-size-15x:before  {
  font-size: 15em;
}

.flaticon-size-16x:before  {
  font-size: 16em;
}

.flaticon-size-17x:before  {
  font-size: 17em;
}

.flaticon-size-18x:before  {
  font-size: 18em;
}

.flaticon-size-19x:before  {
  font-size: 19em;
}

.flaticon-size-20x:before  {
  font-size: 20em;
}


.flaticon-rotate-90:before {
  -webkit-transform: rotate(90deg);
  -moz-transform: rotate(90deg);
  -ms-transform: rotate(90deg);
  -o-transform: rotate(90deg);
  transform: rotate(90deg);
}

.flaticon-rotate-270:before {
  -webkit-transform: rotate(270deg);
  -moz-transform: rotate(270deg);
  -ms-transform: rotate(270deg);
  -o-transform: rotate(270deg);
  transform: rotate(270deg);
}


.flaticon-rotate-40:before {
  -webkit-transform: rotate(40deg);
  -moz-transform: rotate(40deg);
  -ms-transform: rotate(40deg);
  -o-transform: rotate(40deg);
  transform: rotate(40deg);
}

.flaticon-rotate-320:before {
  -webkit-transform: rotate(320deg);
  -moz-transform: rotate(320deg);
  -ms-transform: rotate(320deg);
  -o-transform: rotate(320deg);
  transform: rotate(320deg);
}