@font-face {
  font-family: 'icomoon';
  src:  url('fonts/icomoon.eot?26kkg7');
  src:  url('fonts/icomoon.eot?26kkg7#iefix') format('embedded-opentype'),
    url('fonts/icomoon.ttf?26kkg7') format('truetype'),
    url('fonts/icomoon.woff?26kkg7') format('woff'),
    url('fonts/icomoon.svg?26kkg7#icomoon') format('svg');
  font-weight: normal;
  font-style: normal;
}

[class^="icon-"], [class*=" icon-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'icomoon' !important;
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-mail:before {
  content: "\e921";
}
.icon-envelope2:before {
  content: "\e90a";
}
.icon-contacts:before {
  content: "\e913";
}
.icon-perm_contact_calendar:before {
  content: "\e914";
}
.icon-close:before {
  content: "\e904";
}
.icon-primitive-dot:before {
  content: "\e91c";
}
.icon-link2:before {
  content: "\e916";
}
.icon-at:before {
  content: "\e920";
}
.icon-addressbook:before {
  content: "\e910";
}
.icon-earth:before {
  content: "\e908";
}
.icon-pencil:before {
  content: "\e606";
}
.icon-library:before {
  content: "\e607";
}
.icon-coin:before {
  content: "\e608";
}
.icon-bubbles:before {
  content: "\e609";
}
.icon-stats:before {
  content: "\e60a";
}
.icon-download2:before {
  content: "\e60b";
}
.icon-cloud-upload2:before {
  content: "\e60c";
}
.icon-enter:before {
  content: "\e60d";
}
.icon-file-empty:before {
  content: "\e925";
}
.icon-barcode:before {
  content: "\e937";
}
.icon-phone:before {
  content: "\e942";
}
.icon-history:before {
  content: "\e94d";
}
.icon-clock:before {
  content: "\e94e";
}
.icon-alarm:before {
  content: "\e950";
}
.icon-calendar2:before {
  content: "\e953";
}
.icon-mobile:before {
  content: "\e958";
}
.icon-airplane:before {
  content: "\e9af";
}
.icon-truck:before {
  content: "\e9b0";
}
.icon-sphere:before {
  content: "\e9c9";
}
.icon-link:before {
  content: "\e9cb";
}
.icon-checkmark:before {
  content: "\ea10";
}
.icon-graduate:before {
  content: "\e919";
}
.icon-hat:before {
  content: "\e919";
}
.icon-direction:before {
  content: "\e91a";
}
.icon-address2:before {
  content: "\e91a";
}
.icon-location:before {
  content: "\e91a";
}
.icon-profile:before {
  content: "\e90b";
}
.icon-card:before {
  content: "\e90b";
}
.icon-id:before {
  content: "\e90b";
}
.icon-vcard:before {
  content: "\e90b";
}
.icon-box:before {
  content: "\e601";
}
.icon-products:before {
  content: "\e602";
}
.icon-vehicle:before {
  content: "\e603";
}
.icon-uniE600:before {
  content: "\e600";
}
.icon-banknote:before {
  content: "\e604";
}
.icon-wallet3:before {
  content: "\e605";
}
.icon-brand2:before {
  content: "\e901";
  color: #eb001b;
}
.icon-brand:before {
  content: "\e902";
  color: #142787;
}
.icon-visa:before {
  content: "\e902";
  color: #142787;
}
.icon-star:before {
  content: "\e000";
}
.icon-user2:before {
  content: "\e001";
}
.icon-building:before {
  content: "\f245";
}
.icon-tie:before {
  content: "\2040";
}
.icon-user3:before {
  content: "\e002";
}
.icon-exit:before {
  content: "\f324";
}
.icon-piggybank:before {
  content: "\f257";
}
.icon-tie2:before {
  content: "\e004";
}
.icon-building2:before {
  content: "\e005";
}
.icon-wallet:before {
  content: "\e006";
}
.icon-pig:before {
  content: "\e007";
}
.icon-wallet2:before {
  content: "\e008";
}
.icon-safe:before {
  content: "\e009";
}
.icon-calculator:before {
  content: "\e00a";
}
.icon-calculator2:before {
  content: "\e00b";
}
.icon-home:before {
  content: "\f015";
}
.icon-user4:before {
  content: "\e00c";
}
.icon-credit:before {
  content: "\f09e";
}
.icon-car:before {
  content: "\e00d";
}
.icon-recreational-vehicle2:before {
  content: "\f241";
}
.icon-user5:before {
  content: "\e00e";
}
.icon-boat:before {
  content: "\f21a";
}
.icon-bell2:before {
  content: "\e00f";
}
.icon-filter2:before {
  content: "\e010";
}
.icon-dollars:before {
  content: "\e011";
}
.icon-office:before {
  content: "\e012";
}
.icon-cog:before {
  content: "\e013";
}
.icon-wrench:before {
  content: "\e014";
}
.icon-question2:before {
  content: "\e015";
}
.icon-unlocked:before {
  content: "\e016";
}
.icon-lock:before {
  content: "\e017";
}
.icon-trash:before {
  content: "\f0ce";
}
.icon-trashcan:before {
  content: "\e018";
}
.icon-exit2:before {
  content: "\e019";
}
.icon-star2:before {
  content: "\e01a";
}
.icon-favorite3:before {
  content: "\e01b";
}
.icon-undo:before {
  content: "\e01c";
}
.icon-redo:before {
  content: "\e01d";
}
.icon-email:before {
  content: "\e91f";
}
.icon-dot-single:before {
  content: "\e91d";
}
.icon-globe:before {
  content: "\e909";
}
.icon-info:before {
  content: "\e907";
}
.icon-address:before {
  content: "\e903";
}
.icon-tools:before {
  content: "\e60f";
}
.icon-products2:before {
  content: "\e60e";
}
.icon-search:before {
  content: "\f002";
}
.icon-user:before {
  content: "\f007";
}
.icon-th-list:before {
  content: "\f00b";
}
.icon-close2:before {
  content: "\f00d";
}
.icon-gear:before {
  content: "\f013";
}
.icon-trash-o:before {
  content: "\f014";
}
.icon-refresh:before {
  content: "\f021";
}
.icon-list-alt:before {
  content: "\f022";
}
.icon-map-marker:before {
  content: "\f041";
}
.icon-check-square-o:before {
  content: "\f046";
}
.icon-plus:before {
  content: "\f067";
}
.icon-view:before {
  content: "\f06e";
}
.icon-calendar:before {
  content: "\f073";
}
.icon-bar-chart-o:before {
  content: "\f080";
}
.icon-interactions:before {
  content: "\f086";
}
.icon-sign-out:before {
  content: "\f08b";
}
.icon-linkedin-square:before {
  content: "\f08c";
}
.icon-thumb-tack:before {
  content: "\f08d";
}
.icon-sign-in:before {
  content: "\f090";
}
.icon-square-o:before {
  content: "\f096";
}
.icon-facebook:before {
  content: "\f09a";
}
.icon-credit-card:before {
  content: "\f09d";
}
.icon-bullhorn:before {
  content: "\f0a1";
}
.icon-alert:before {
  content: "\f0a2";
}
.icon-hand-o-up:before {
  content: "\f0a6";
}
.icon-hand-o-down:before {
  content: "\f0a7";
}
.icon-tasks:before {
  content: "\f0ae";
}
.icon-filter:before {
  content: "\f0b0";
}
.icon-briefcase:before {
  content: "\f0b1";
}
.icon-group:before {
  content: "\f0c0";
}
.icon-save:before {
  content: "\f0c7";
}
.icon-recreational-vehicle:before {
  content: "\f0d1";
}
.icon-google-plus:before {
  content: "\f0d5";
}
.icon-envelope:before {
  content: "\f0e0";
}
.icon-dashboard:before {
  content: "\f0e4";
}
.icon-sitemap:before {
  content: "\f0e8";
}
.icon-umbrella:before {
  content: "\f0e9";
}
.icon-exchange:before {
  content: "\f0ec";
}
.icon-cloud-download:before {
  content: "\f0ed";
}
.icon-cloud-upload:before {
  content: "\f0ee";
}
.icon-suitcase:before {
  content: "\f0f2";
}
.icon-building-o:before {
  content: "\f0f7";
}
.icon-desktop:before {
  content: "\f108";
}
.icon-laptop:before {
  content: "\f109";
}
.icon-tablet:before {
  content: "\f10a";
}
.icon-question:before {
  content: "\f128";
}
.icon-anchor:before {
  content: "\f13d";
}
.icon-long-arrow-left:before {
  content: "\f177";
}
.icon-long-arrow-right:before {
  content: "\f178";
}
.icon-file-o:before {
  content: "\e926";
}
.icon-file-text-o:before {
  content: "\e924";
}
.icon-envelope-open-o:before {
  content: "\e922";
}
.icon-envelope-o:before {
  content: "\e923";
}
.icon-dot-circle-o:before {
  content: "\e91e";
}
.icon-child:before {
  content: "\e91b";
}
.icon-chain-broken:before {
  content: "\e917";
}
.icon-chain:before {
  content: "\e918";
}
.icon-birthday-cake:before {
  content: "\e915";
}
.icon-address-card-o:before {
  content: "\e911";
}
.icon-address-card:before {
  content: "\e912";
}
.icon-hashtag:before {
  content: "\e90c";
}
.icon-drivers-license-o:before {
  content: "\e90d";
}
.icon-id-card-o:before {
  content: "\e90d";
}
.icon-drivers-license:before {
  content: "\e90e";
}
.icon-id-card:before {
  content: "\e90e";
}
.icon-crosshairs:before {
  content: "\e90f";
}
.icon-cc-mastercard:before {
  content: "\e905";
}
.icon-cc-visa:before {
  content: "\e906";
}
.icon-credit-card-alt:before {
  content: "\e900";
}
