
    <script id='accountTemplate' type='text/html'> 
    <div data-bind-account="eventJq: {
            dragxselect: {data: getSettings, func: select },
            dragxinit: {data: getSettings, func: dragxinit },
            dragxstart: {data: getSettings, func: dragxstart },
            dragx: {data: getSettings, func: dragx },
            dragxend: {data: getSettings, func: dragxend },
            dropxstart: {data: getSettings, func: dropxstart },
            dropxover: {data: getSettings, func: dropxover },
            dropxout: {data: getSettings, func: dropxout },
            dropx: {data: getSettings, func: function(){dropx.apply(this, arguments); __droppedOn(arguments, true);} },
            dropxselect: {data: getSettings, func: dropxselect },           
            dropxend: {data: getSettings, func: dropxend }
            }
            ,
            event: {'wheel': resize}"
            style="height:150px;width:150px;background-position: 50% 5%; " class="drag drop circle person">

                <div data-bind-account="pos: icon.location, style: {'backgroundImage': icon.url}
                , jqCss: {'opacity': icon.opacity()}
                , event: {'dblclick': function(data, e){toggleMainForm(); e.cancelBubble = true; if (e.stopPropagation) e.stopPropagation(); return false}, dblclickBubble: false }" style="width:50px; height: 50px; background-repeat: no-repeat; background-position: center;">
                
                </div>

    </div>
    </script>