@font-face {
  font-family: 'icomoon';
  src:  url('fonts/icomoon.eot?q6bonj');
  src:  url('fonts/icomoon.eot?q6bonj#iefix') format('embedded-opentype'),
    url('fonts/icomoon.ttf?q6bonj') format('truetype'),
    url('fonts/icomoon.woff?q6bonj') format('woff'),
    url('fonts/icomoon.svg?q6bonj#icomoon') format('svg');
  font-weight: normal;
  font-style: normal;
}

[class^="icon-"], [class*=" icon-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'icomoon' !important;
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-envelope:before {
  content: "\e902";
}
.icon-cross:before {
  content: "\e901";
}
.icon-uni2040:before {
  content: "\2040";
}
.icon-uniE000:before {
  content: "\e000";
}
.icon-uniE001:before {
  content: "\e001";
}
.icon-uniE002:before {
  content: "\e002";
}
.icon-uniE004:before {
  content: "\e004";
}
.icon-uniE005:before {
  content: "\e005";
}
.icon-uniE006:before {
  content: "\e006";
}
.icon-uniE007:before {
  content: "\e007";
}
.icon-uniE008:before {
  content: "\e008";
}
.icon-uniE009:before {
  content: "\e009";
}
.icon-uniE00A:before {
  content: "\e00a";
}
.icon-uniE00B:before {
  content: "\e00b";
}
.icon-uniE00C:before {
  content: "\e00c";
}
.icon-uniE00D:before {
  content: "\e00d";
}
.icon-uniE00E:before {
  content: "\e00e";
}
.icon-uniE00F:before {
  content: "\e00f";
}
.icon-uniE010:before {
  content: "\e010";
}
.icon-uniE011:before {
  content: "\e011";
}
.icon-uniE012:before {
  content: "\e012";
}
.icon-uniE013:before {
  content: "\e013";
}
.icon-uniE014:before {
  content: "\e014";
}
.icon-uniE015:before {
  content: "\e015";
}
.icon-uniE016:before {
  content: "\e016";
}
.icon-uniE017:before {
  content: "\e017";
}
.icon-uniE018:before {
  content: "\e018";
}
.icon-uniE019:before {
  content: "\e019";
}
.icon-uniE01A:before {
  content: "\e01a";
}
.icon-uniE01B:before {
  content: "\e01b";
}
.icon-uniE01C:before {
  content: "\e01c";
}
.icon-uniE01D:before {
  content: "\e01d";
}
.icon-uniE600:before {
  content: "\e600";
}
.icon-uniE601:before {
  content: "\e601";
}
.icon-uniE602:before {
  content: "\e602";
}
.icon-uniE603:before {
  content: "\e603";
}
.icon-uniE604:before {
  content: "\e604";
}
.icon-uniE605:before {
  content: "\e605";
}
.icon-uniE606:before {
  content: "\e606";
}
.icon-uniE607:before {
  content: "\e607";
}
.icon-uniE608:before {
  content: "\e608";
}
.icon-uniE609:before {
  content: "\e609";
}
.icon-uniE60A:before {
  content: "\e60a";
}
.icon-uniE60B:before {
  content: "\e60b";
}
.icon-uniE60C:before {
  content: "\e60c";
}
.icon-uniE60D:before {
  content: "\e60d";
}
.icon-uniE60E:before {
  content: "\e60e";
}
.icon-uniE60F:before {
  content: "\e60f";
}
.icon-uniF002:before {
  content: "\f002";
}
.icon-uniF007:before {
  content: "\f007";
}
.icon-uniF00B:before {
  content: "\f00b";
}
.icon-uniF00D:before {
  content: "\f00d";
}
.icon-uniF013:before {
  content: "\f013";
}
.icon-uniF014:before {
  content: "\f014";
}
.icon-uniF015:before {
  content: "\f015";
}
.icon-uniF021:before {
  content: "\f021";
}
.icon-uniF022:before {
  content: "\f022";
}
.icon-uniF041:before {
  content: "\f041";
}
.icon-uniF046:before {
  content: "\f046";
}
.icon-uniF067:before {
  content: "\f067";
}
.icon-uniF06E:before {
  content: "\f06e";
}
.icon-uniF073:before {
  content: "\f073";
}
.icon-uniF080:before {
  content: "\f080";
}
.icon-uniF086:before {
  content: "\f086";
}
.icon-uniF08B:before {
  content: "\f08b";
}
.icon-uniF08C:before {
  content: "\f08c";
}
.icon-uniF08D:before {
  content: "\f08d";
}
.icon-uniF090:before {
  content: "\f090";
}
.icon-uniF096:before {
  content: "\f096";
}
.icon-uniF09A:before {
  content: "\f09a";
}
.icon-uniF09D:before {
  content: "\f09d";
}
.icon-uniF09E:before {
  content: "\f09e";
}
.icon-uniF0A1:before {
  content: "\f0a1";
}
.icon-uniF0A2:before {
  content: "\f0a2";
}
.icon-uniF0A6:before {
  content: "\f0a6";
}
.icon-uniF0A7:before {
  content: "\f0a7";
}
.icon-uniF0AE:before {
  content: "\f0ae";
}
.icon-uniF0B0:before {
  content: "\f0b0";
}
.icon-uniF0B1:before {
  content: "\f0b1";
}
.icon-uniF0C0:before {
  content: "\f0c0";
}
.icon-uniF0C7:before {
  content: "\f0c7";
}
.icon-uniF0CE:before {
  content: "\f0ce";
}
.icon-uniF0D1:before {
  content: "\f0d1";
}
.icon-uniF0D5:before {
  content: "\f0d5";
}
.icon-uniF0E0:before {
  content: "\f0e0";
}
.icon-uniF0E4:before {
  content: "\f0e4";
}
.icon-uniF0E8:before {
  content: "\f0e8";
}
.icon-uniF0E9:before {
  content: "\f0e9";
}
.icon-uniF0EC:before {
  content: "\f0ec";
}
.icon-uniF0ED:before {
  content: "\f0ed";
}
.icon-uniF0EE:before {
  content: "\f0ee";
}
.icon-uniF0F2:before {
  content: "\f0f2";
}
.icon-uniF0F7:before {
  content: "\f0f7";
}
.icon-uniF108:before {
  content: "\f108";
}
.icon-uniF109:before {
  content: "\f109";
}
.icon-uniF10A:before {
  content: "\f10a";
}
.icon-uniF128:before {
  content: "\f128";
}
.icon-uniF13D:before {
  content: "\f13d";
}
.icon-uniF177:before {
  content: "\f177";
}
.icon-uniF178:before {
  content: "\f178";
}
.icon-uniF21A:before {
  content: "\f21a";
}
.icon-uniF241:before {
  content: "\f241";
}
.icon-uniF245:before {
  content: "\f245";
}
.icon-uniF257:before {
  content: "\f257";
}
.icon-uniF324:before {
  content: "\f324";
}
.icon-address:before {
  content: "\e900";
}
.icon-phone:before {
  content: "\e942";
}
.icon-mobile:before {
  content: "\e958";
}

